[*.cs]

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = error

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent
